.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title{
  margin: 0;
  font-family: Verdana, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: #231f20;

  @include breakpoint(tablet){
    .title{
      font-size: 40px;
      line-height: 50px;
    }
  }

  @include breakpoint(desktop){
    .title{
      font-size: 50px;
      line-height: 57px;
    }
  }
}

.button{
  font-family: "Open Sans Bold", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color;

  display: block;
  border: 2px solid $button-border-color;
  padding: 15px 0 17px 0;
  width: 256px;

  &:hover{
    background-color: $button-border-color;
    color: white;
  }

  &:active{
    color: rgba(255, 255, 255, 0.3);
  }
}

.main-content{
  @include breakpoint(tablet){
    position: relative;
    margin-top: -41px;
  }

  @include breakpoint(desktop){
    margin-top: -90px;
  }
}