$text-color: #444444;
$title-color: #000000;
$element-color: #63d1bb;
$border-color: #ececec;

$link-color: #444444;
$link-color--hover: #46c1ae;
$button-bg-color: #ffffff;
$button-border-color: #444444;
$button-field-border-color: #444444;
$border-color: #ededed;
//$border-extra-color: #ececec;
$contrast-extra-color: #62d1ba;
$background-color: #f1f1f1;
