.reviews{

  &::after{
    content: "";
    display: block;
    height: 7px;
    background-image: url(../images/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-size: auto 7px;
  }
}

.reviews__wrapper{
  @include container();
  width: 260px;
}

.reviews__title{
  margin-top: 50px;
  margin-bottom: 25px;
}

.reviews__text{
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 20px 0;
}

.reviews__author-name{
  display: block;
  font-family: Verdana, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-bottom: 3px;
}

.reviews__author-login{
  font-size: 14px;
  line-height: 30px;
}

.reviews__btn{
  border: 1px solid $border-color;
  padding-left: 38px;
  padding-right: 42px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.reviews__btn-left, .reviews__btn-right{
  display: block;
  padding-top: 12px;
  padding-bottom: 6px;
}

.reviews__btn-left{
  border-right: 1px solid $border-color;
  padding-right: 42px;
}

.reviews__link{
  margin-top: 38px;
  margin-bottom: 44px;
}

@include breakpoint(tablet){

  .reviews{
    margin-top: 28px;

    &::after{
      height: 16px;
      width: 100%;
      background-size: 768px 16px;
      background-position: left 20px center;
    }
  }

  .reviews__wrapper{

    background-image: url(../images/review@1x.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 350px auto;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 80px;

  }

  .reviews__title{
    order: -2;
    margin-top: 0;
  }

  .reviews__link{
    order: -1;
    margin-top: 0;
    padding: 16px 41px 16px;
    margin-bottom: 44px;
  }

  .reviews__text{
    font-size: 16px;
    margin-bottom: 10px;
  }

  .reviews__btn{
    border: none;
    margin-top: 0;
    padding-right: 20px;
  }

  .reviews__btn-left{
    border-right: none;
    padding-right: 38px;
  }

  .reviews__author{
    margin-bottom: 170px;
  }
}

@include breakpoint(desktop){

  .reviews{
    &::after{
      height: 23px;
      background-position: 26px center;
      background-size: 1050px 23px;
    }
  }

  .reviews__wrapper{
    padding-right: 0;
    padding-left: 175px;

    width: 875px;
  }

  .reviews__text{
    width: 700px;
  }

  .reviews__link{
    margin-bottom: 50px;
  }

}