.reviews{

  &::after{
    content: "";
    display: block;
    height: 7px;
    background-image: url(../images/bg-zigzag-line.svg);
    background-repeat: repeat-x;
    background-size: auto 7px;
  }
}

.reviews__wrapper{
  @include container();
  width: 260px;
}

.reviews__title{
  margin-top: 50px;
  margin-bottom: 25px;
}

.reviews__text{
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 20px 0;
}

.reviews__author{
  display: block;
  font-family: Verdana, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: black;
  margin-bottom: 3px;
}

.reviews__author-login{
  font-size: 14px;
  line-height: 30px;
}

.reviews__btn{
  border: 1px solid $border-color;
  padding-left: 38px;
  padding-right: 42px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.reviews__btn-left, .reviews__btn-right{
  display: block;
  padding-top: 12px;
  padding-bottom: 6px;
}

.reviews__btn-left{
  border-right: 1px solid $border-color;
  padding-right: 42px;
}

.reviews__link{
  margin-top: 38px;
  margin-bottom: 44px;
}